@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  font-size: 14px;
}

:root {
  --linkColor: #7f7f7f;
  --leftBtnColor: #b9b4b4;
  --forgotColor: #a08c8c;
  --fontSize: 16px;
  --darkColor: #3f444d;
  --btnColor: rgb(28, 144, 211);
  --skyColor: rgb(193, 196, 199);
  --blackColor: #000000;
  --inputColor: #B1B5BB;
  --inputColorDropDown: rgb(150, 151, 153);
  --labelColor: rgb(131, 133, 136);
}
.center{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
	max-width: 500px;
}

.card{
  background-color: #fff;
  border-radius: 15px;
  padding: 0.8rem;
  text-align: center;
  width: 100%;
  border: 2px solid var(--darkColor);
}

.card .logoLogin{
  width: 100%;
  max-width: 150px;
}

.logo {
  background: var(--btnColor);
	padding: 5px;
  color: #fff;
  border-radius: 100%;
  cursor: pointer;
  font-size: 16px;
  font-family: 10px;
  outline: none;
}

.googleButton {
  text-align: center;
  padding: 1.3rem !important;
  background-color: #dc4141 !important;
  color: white !important;
  font-size: 1.2rem !important;
  border-radius: 0.7rem !important;
  margin-top: 2rem;
}

.row {
  display: flex;
  width: 100%;
  margin: 0;
}

.wrapper {
	width: calc(100% - 100px);
	height: calc(100% - 100px);
  margin: 0 auto;
  margin-top: 60px;
}

.wrapper .head {
	border: 1px solid #b1b5bb;
	padding: 15px;
}

.wrapper .head .brandName {
	font-size: 1.2em;
	font-weight: bold;
	padding: 10px 0;
	padding-left: 15px;
}

.wrapper .buttonHeader {
  text-align: right;
}

.wrapper .button {
  background: var(--btnColor);
	border: 0px;
	margin-top: 20px;
	padding: 10px;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  font-family: 10px;
  outline: none;
}

.wrapper .buttonCancel {
  background:  rgb(233, 44, 44);;
	border: 0px;
	width: 15%;
	margin-top: 20px;
	padding: 10px;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  font-family: 10px;
  outline: none;
}

.listing {
  position: absolute;
}

.field {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.input-field{
  position: absolute;
  top: 3rem;
  left: 0;
  width: 100vw;
  display: flex;
  justify-content: center;align-items: center;
}
.input-field input {
  width: 500px;
  height: 2.5rem;
}

.input-field button {
  background-color: #dc4141;
  color: white;
  border: none;
  border-radius: 5px;
  width: 75px;
  height: 2.5rem;
  margin: 0 1rem;
}

.list-style {
  padding: 10px;
  border: 1px solid black;
  border-radius: 2px;
  margin: 10px auto;
  justify-content: center;
  text-align: center;
  align-items: center;
  position: relative;
  width: 90vw;
  max-width: 400px;
  margin-right: 200px;
}

.lis {
  margin-top: 7rem;
  width: 50%;
  align-items: center;
  float: left;
}

.text-left{
  margin-top: 4px;
}


