.center {
    text-align: center;
    /* margin-top: -300px; */
}
.input-style
{
    /* padding:10px; */
    width:50%;
    background-color: #6CDEFD;

}
/* .list-style{
    background-color: #6CDEFD;
    margin-bottom: 2rem;
    padding:10px;
    

} */