.listing {
  position: absolute;
}
.field {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.input-field input {
  width: 500px;
  height: 2.5rem;
}
.input-field button {
  background-color: darkcyan;
  color: white;
  border: none;
  border-radius: 5px;
  width: 75px;
  height: 2.5rem;
  margin: 0 1rem;
}
.list-style {
  padding: 10px;
  border: 1px solid black;
  border-radius: 2px;
  margin: 10px auto;
  justify-content: center;
  text-align: center;
  align-items: center;
  width: 30%;
  max-width: 300px;
}
.lis {
  margin-top: 40px;
  width: 50%;
  align-items: center;
  float: left;
}
.text-left{
  margin-top: 4px;
}