.center{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
      max-width: 500px;
  }

  .card{
    background-color: #fff;
    border-radius: 15px;
    padding: 0.8rem;
    text-align: center;
    width: 100%;
    border: 2px solid var(--darkColor);
  }

  .todo-list-app {
    padding-top: 32px;
    width: 100%;
    max-width: 480px;
    }